.how-it-works {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #111;
    color: white;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
  }
  
  .card {
    background-color: #222;
  }
  
  .left-text .card {
    text-align: left;
  }
  
  .right-text .card {
    text-align: right;
  }
  
  .card-image img {
    width: 100%; /* ensures it takes the full container width */
  }