@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
* {
  scrollbar-width: thin;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "JetBrains Mono", serif;
}
html {
  scroll-behavior: smooth;
}

html.react-joyride-active,
body.react-joyride-active {
  scroll-behavior: auto !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

/* В вашем CSS-файле или в глобальных стилях */
.backdropPointer {
  cursor: pointer !important;
}

.react-joyride__tooltip button[data-action="primary"] {
  transition: all 0.1s;
  font-size: 14px !important;
}

.react-joyride__tooltip button[data-action="close"] {
  border-radius: 50% !important;
  margin-top: 4px;
  margin-right: 4px;
  transition: all 0.1s;
}

.react-joyride__tooltip button[data-action="primary"]:hover {
  background-color: #7c97de !important;
}

.react-joyride__tooltip button[data-action="close"]:hover {
  background-color: rgba(0, 0, 0, 0.04) !important;
}


.react-joyride__tooltip button[data-action="skip"] {
  color: #888 !important;
  transition: all 0.1s;
  font-size: 14px !important;
}

.react-joyride__tooltip button[data-action="skip"]:hover {
  color: #555 !important;
  background-color: rgba(0, 0, 0, 0.04) !important;
}

.react-joyride__tooltip button[data-action="back"] {
  font-size: 14px !important;
  transition: all 0.1s;
}

.react-joyride__tooltip button[data-action="back"]:hover {
  background-color: rgba(0, 0, 0, 0.04) !important;
}